@use '../util' as *;

.nav {
  /*======== Sticky Header ========*/
  &--sticky {
    position: fixed;
    color: var(--col-text);
    background-color: var(--col-bg);
    box-shadow: var(--shadow);
  }

  color: var(--col-white);
  height: rem(88);
  font-family: var(--ff-mono);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  &__container {
    height: 100%;
  }

  &__list {
    display: flex;
    height: 100%;
    column-gap: rem(88);
    align-items: center;
  }

  &__link {
    &::after {
      content: '';
      display: block;
      background-color: currentColor;
      position: absolute;
      opacity: 0;
      height: rem(2);
      width: rem(8);
      right: rem(-10);
      bottom: rem(2);
    }

    &,
    &:link,
    &:visited {
      text-transform: uppercase;
      font-weight: var(--fw-bold);
      font-size: var(--fs-sm);
      transition: 0.3s;
      position: relative;
    }

    &:active,
    &:hover,
    &:hover::after {
      opacity: 0.6;
    }

    &--active {
      &::after {
        opacity: 1;
      }
    }
  }

  &__close,
  &__toggle {
    display: none;
  }
}
