@use '../util' as *;

.nav {
  &--sticky {
    position: fixed;
    color: var(--col-text);
    background-color: var(--col-bg);
    box-shadow: 0 0 26px rgb(80 80 80 / 34%);
  }

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  color: var(--col-white);
  height: rem(88);
  font-family: var(--ff-mono);

  &__container {
    height: 100%;
  }

  &__list {
    display: flex;
    height: 100%;
    column-gap: rem(88);
    align-items: center;
  }

  &__link {
    &::after {
      content: '';
      width: 8px;
      height: 2px;
      background-color: currentColor;
      position: absolute;
      bottom: 2px;
      right: -10px;
      display: block;
      opacity: 0;
    }

    &,
    &:link,
    &:active {
      text-transform: uppercase;
      font-weight: var(--fw-bold);
      font-size: var(--fs-sm);
      transition: 0.3s;
      position: relative;
    }

    &:active,
    &:hover,
    &:hover::after {
      opacity: 0.6;
    }

    &--active {
      &::after {
        opacity: 1;
      }
    }
  }

  &__close,
  &__toggle {
    display: none;
  }
}
