/*========== Colors ==========*/
:root {
  --col-title: #4a4a4a;
  --col-text: #555;
  --col-text-alt: #999;

  --col-bg: #fff;
  --col-bg-alt: #e9ecef;

  --col-white: #ddd;

  --col-border: #f1f1f1;

  --col-error: #cf000f;
  --col-success: #009944;
}
