@use '../util' as *;

.container {
  max-width: rem(1140);
  margin: 0 auto;
}

.section {
  margin-bottom: rem(112);

  &__header {
    margin-bottom: rem(32);
  }
}

.grid {
  display: grid;
}

.header {
  position: relative;
}
