@use '../util/' as *;

body {
  font-family: var(--ff-serif);
  line-height: 1.5;
}

.heading {
  position: relative;
  font-family: var(--ff-mono);
  font-size: var(--fs-h2);
  color: var(--col-title);
  font-weight: var(--fw-medium);
}
